body {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border: 15px solid darkgray;
  height: 250vh;
  margin: 0;
  padding: 0;
}

.floater1,
.floater2 {
  position: absolute;
  width: 80%;
  height: 30vh;
  left: 10;
  border-radius: 4px;
  border: 4px solid black;
}

.floater1.active,
.floater2.active {
  background: red;
}

.floater1 {
  top: 110vh;
  background: lightblue;
}

.floater2 {
  top: 160vh;
  background: darkblue;
}
